[Unit]
Description=Lotus exporter by xsw1058

[Service]
Restart=always
User=prometheus
Environment="FULLNODE_API_INFO=<token>:/ip4/<ipaddress>/tcp/<port>/http"
Environment="MINERS_ID=<address1>:<tag1>,<address2>:<tag2>"
Environment="LOTUS_WALLETS=<address1>:<tag1>,<address2>:<tag2>"
Environment="GOLOG_LOG_LEVEL=info"
Environment="GOLOG_FILE=/<path>/exporter.log"
ExecStart=/usr/bin/lotus-export
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
